@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root {
	--palette-black: #040013;
	--palette-dark-purple: #0f004e;
	--palette-purple: #b200ff;
	--palette-red: #ff004d;
	--palette-light-gray: #e6e6e6;
	--palette-white: #ffffff;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;

	font-size: min(5vw, 18px);
}

body {
	font-family: "Fira Sans", sans-serif;
	background-color: var(--palette-dark-purple);
}

@media (min-width: 900px) {
	body {
		background-color: var(--palette-light-gray);
	}
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
