@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root {
	--palette-white: #ffffff;
	--palette-light-gray: #e6e6e6;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Fira Sans", sans-serif;
	background-color: #0f004e;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
